/* Botão Adicionar */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnAddNewList {
    margin: 2%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid white;
}
.btnAddNewList:hover {
    opacity: 0.8;
}
.btnAddNewList:active { 
    opacity: 0.5;
}

/* Botão Remover */
.btnRemoveNewList {
    margin: 2%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid white;
}
.btnRemoveNewList:hover {
    opacity: 0.8;
}
.btnRemoveNewList:active {
    opacity: 0.5;
}