/* Personaliza a largura da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* largura da barra de rolagem vertical */
    height: 12px; /* altura da barra de rolagem horizontal */
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; /* Deixa a barra de rolagem arredondada */
}

/* Cor da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Estiliza os cantos arredondados das barras */
::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}
